:root{
/* COLORS */
    --primary-color: #0282f9;
    --secondary-color: #1c1c1c;
    --accent-color: #2f2f2f;
    --primary-text-color: #ffffff;
    --secondary-text-color: #2f2f2f;
    --accent-text-color: #0282f9;
}